<app-menu></app-menu>

<div id="cronometro">
  <!-- Inputs -->
  <label for="task">Nombre de la tarea: </label>&nbsp;&nbsp;
  <input type="text" name="task" id="" [(ngModel)]="nameTask">
  <br>
  <label for="inicio">Inicio de la tarea:</label>&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" name="inicio" id="" [(ngModel)]="startDate" disabled>
  <br>
  <label for="tiempoMinutos">Tiempo de la tarea: </label>&nbsp;&nbsp;
  <input type="text" name="tiempoMinutos" id="" [(ngModel)]="nowDate" disabled>
  <br />
  <!-- Buttons -->
  <div class="d-flex justify-content-center mt-5">
    <input type="button" value="Start" (click)="startTimmer()" *ngIf="showBtnStart">
    <input type="button" value="Stop" (click)="stopTimmer()" *ngIf="showBtnStop">
  </div>
  <br />
  <!-- Last Task -->
    <ul class="list-group" *ngFor="let task of allTask">
      <p>{{task}}</p>
    </ul>

</div>
