<app-menu></app-menu>

<div id="cronometro">
  <div id="reloj">
  </div>
    <label for="inicio">Inicio de la tarea: </label>
    <input type="datetime" name="inicio" id="" [value]= "startDate" disabled>
    <br>
    <label for="tiempoMinutos">Total Minutos: </label>
    <input type="datetime" name="tiempoMinutos" id="" [value]= "nowDate">
    <br/>
    <div class="d-flex justify-content-center">
      <input type="button" [value]="buttonTxt" name="boton1"
      [ngClass]="changesColorBtn() ? 'btnRed' : 'btnGreen' "
      (click) = "startTimmer($event)"/>
    </div>
    <br/>
</div>
