<div class="container-fluid mb-5">
  <div class="row">
    <a [routerLink]="['/login']" class="col-1">
      <img src="../../../assets/flecha-izquierda.svg" alt="" id="flecha">
    </a>
  </div>
</div>

<form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="mt-5">
  <!--<p>{{registerForm.get('password2')?.errors | json}}</p>-->
  <!-- Name -->
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="inputName" placeholder="Input your name please"
      [formControlName]="'name'" [ngClass]="formInputColor('name')">
  </div>
  <small id="nameHelp" class="form-text" *ngIf="msgColor('name')"
    [ngClass]="msgColor('name')? 'text-danger' : 'text-success'">
    El nombre no puede estar vacío
  </small>

  <!-- Email -->
  <div class="form-group mt-5">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="Input your email please"
      [formControlName]="'email'" [ngClass]="formInputColor('email')">
  </div>
  <small id="emailHelp" class="form-text" *ngIf="msgColor('email')"
    [ngClass]="msgColor('email')? 'text-danger' : 'text-success'">
    Dirección de correo no válida
  </small>

  <!-- Password1" -->
  <!-- <i class="far fa-eye"></i> icon -->
  <label for="iamapassword1" class="d-block mt-5">Password</label>
  <div class="input-group">
    <input type="password" class="form-control" id="iamapassword1" placeholder="Input your password please"
      [formControlName]="'password1'" [ngClass]="formInputColor('password1')" (keyup)="visible($event, 1)"
      (input)="resetIconNotTxt($event, 1)" (focusout)="resetIconNotTxt($event, 1)">
    <span class="input-group-btn">
      <button *ngIf="passwords.password1.showPasswordOption" class="btn btn-default reveal bg-secondary" type="button"
        (click)="changeIcon('iamapassword1', 1)"><i class="{{passwords.password1.icon}}"></i></button>
    </span>
  </div>
  <small id="passwordHelp" class="form-text mb-2" *ngIf="msgColor('password1')"
    [ngClass]="msgColor('password1')? 'text-danger' : 'text-success'">
    Password no válida, mínimo 6 carácteres
  </small>

  <!--Confirm Password-->
  <!-- Password2" -->
  <!-- <i class="far fa-eye"></i> icon -->
  <label for="iamapassword2" class="d-block mt-5">Confirm password</label>
  <div class="input-group">
    <input type="password" class="form-control" id="iamapassword2" placeholder="Input your password please"
      [formControlName]="'password2'" [ngClass]="formInputColor('password2')" (keyup)="visible($event, 2)"
      (input)="resetIconNotTxt($event, 2)" (focusout)="resetIconNotTxt($event, 2)">
    <span class="input-group-btn">
      <button *ngIf="passwords.password2.showPasswordOption" class="btn btn-default reveal bg-secondary" type="button"
        (click)="changeIcon('iamapassword2', 2)"><i class="{{passwords.password2.icon}}"></i></button>
    </span>
  </div>
  <div *ngIf="registerForm.get('password2')?.errors !== null">
    <small id="passwordHelp" class="form-text mb-2" *ngIf="registerForm.get('password2')?.errors?.minlength && sumitted === true"
      [ngClass]="msgColor('password2')? 'text-danger': 'text-success'">
      La password no tiene 6 caracteres
      <span *ngIf="registerForm.get('password2')?.errors?.minlength && registerForm.get('password2')?.errors?.matchOther && sumitted === true"> y</span>
    </small>
    <small id="passwordHelp" class="form-text mb-2" *ngIf="registerForm.get('password2')?.errors?.matchOther && sumitted === true"
      [ngClass]="msgColor('password2')? 'text-danger': 'text-success'">
      las contraseñas no coinciden
    </small>
  </div>

  <!--Send form Buttom-->
  <div class="text-center w-100">
    <button type="submit" class="btn btn-dark d-inline mt-5 mb-3">Submit</button>
    <!--[disabled]="!loginForm.valid" -->
  </div>
</form>
