<form [formGroup]="registerForm" (ngSubmit)="submitForm()">

  <!-- Name -->
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="inputName" placeholder="Input your name please"
      [formControlName]="'name'" [ngClass]="formInputColor('name')">
  </div>
  <small id="nameHelp" class="form-text" *ngIf="msgColor('name')"
    [ngClass]="msgColor('name')? 'text-danger' : 'text-success'">
    El nombre no puede estar vacío
  </small>

  <!-- Email -->
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="Input your email please"
      [formControlName]="'email'" [ngClass]="formInputColor('email')">
  </div>
  <small id="emailHelp" class="form-text" *ngIf="msgColor('email')"
    [ngClass]="msgColor('email')? 'text-danger' : 'text-success'">
    Dirección de correo no válida
  </small>

  <!-- Password" --> <!-- <i class="far fa-eye"></i> icon -->
  <h1>test</h1><br>
  <div class="input-group">
    <input type="password" class="form-control pwd" id="iamapassword" (keyup)="visible($event)">
    <span class="input-group-btn">
      <button *ngIf="showPasswordOption" class="btn btn-default reveal" type="button" (click)="changeIcon()"><i class="{{icon}}"></i></button>
    </span>
  </div>




  <div class="form-group">
    <label for="password1">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Input your password please"
      [formControlName]="'password1'" [ngClass]="formInputColor('password1')">
  </div>
  <small id="passwordHelp" class="form-text" *ngIf="msgColor('password1')"
    [ngClass]="msgColor('password1')? 'text-danger' : 'text-success'">
    Password no válida, mínimo 6 carácteres
  </small>
  <!--Confirm Password-->
  <div class="form-group mb-3">
    <label for="inputEmail4">Password</label>
    <input type="password" class="form-control" placeholder="Input password" formControlName="password1">
  </div>
  <div class="form-group mb-3">
    <label for="inputEmail4">Confirm Password</label>
    <input type="password" class="form-control" placeholder="Repeat password" formControlName="password1">
  </div>

  <!--Send form Buttom-->
  <div class="text-center w-100">
    <button type="submit" class="btn btn-dark d-inline mt-2 mb-3">Submit</button>
    <!--[disabled]="!loginForm.valid" -->
  </div>
</form>
